$nav-item : #ffffff;
$sign-up-text : #000000;
$sign-up-background : #E1BE57;
$delivery-fee-text : #F2F2F2;
$meal_feature_heading : #303030;
$footer_background : #F8F8F8;
$footer_sub_heading : #828282;
$logo_text : #E6BE3E;
$placeholder : #191919;
$feature_text : #828282;
$menu_header_background : #1D1C22;
$menu_header_path_text : #E0E0E0;
$menu_pagination_button : #263238;
$menu_day_text : #455A64;
$more_item_button : #F5F5F5;
$login_text : #828282;
$login_btn_font : #ffffff;
$login_btn_bg : #E6BE3E;
$fb_btn_bg : blue;
$login_link : #E6BE3E;
$login_box_border : #C9C9C9;
$forgot_pass_text : #5F5F5F;
$cuisines_circle_border : #CCCCCC;
$cuisines_circle_border_active : #DDDDDD;
$dish_card_background : #FCFCFC;
$dish_card_border : #dbdbdb;
$day_list_text : #575757;
$customer_review_box_border : #EFEFEF;
$customer_name : #1D1D1D;
$media_buyer : #A5A5A5;